NOTIFICATION_SERVICE_DB_HOST = 'notification-service-db'
NOTIFICATION_SERVICE_DB_PORT = '3306'
NOTIFICATION_SERVICE_DB_USER = 'root'
NOTIFICATION_SERVICE_DB_PASSWORD = 'password'
NOTIFICATION_SERVICE_DB_NAME = 'db'

JWT_SECRET='my_secret_key'

AMQP_SERVER = 'amqp://user:password@rabbitmq:5672'
EXCHANGE_NAME= 'app_exchange'