USER_SERVICE_DB_HOST = 'users-service-db'
USER_SERVICE_DB_PORT = '3306'
USER_SERVICE_DB_USER = 'root'
USER_SERVICE_DB_PASSWORD = 'password'
USER_SERVICE_DB_NAME = 'db'

JWT_SECRET='secret'

USER_SESSION_EXPIRY_HOURS = 1